<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HaveBox" version="2.0.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.13.1.0" targetFramework="net45" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net45" />
  <package id="RzAspects" version="0.5.0.0" targetFramework="net45" />
</packages>